.Blog{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    margin:0;
    padding-top: 5.9vmax;
    padding-bottom: 0;
    width: 100%;
}

.footer{
    margin-top: 1.7vmax;
    background-color: rgb(243, 243, 243);
    height: 3vh;
    text-align: center;
    text-justify: center;
    margin: 0;
}
.footer a{
    cursor: default;
    color: black;
    display: inline-block;
    font-size: 0.8vmax;
    margin: auto;
    padding: 0;
}