.Lionwood{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.LionwoodBanner img {
    margin-top: 5.7vmax;
    display: flex;
    height: 27vmax;
    width: 100vw;
    overflow-y: hidden;
    object-fit: cover;
}

.Lionwood .text {
    max-width: 90vw;
    margin: 1.7vmax 0;
}

.Lionwood .text p{
    text-align: center;
}

.SoundCloud{
    width: 70%;
    max-width: 1500px;
    height: 60vh;
    max-height: 550px;
    min-height: 360px;
}

.PlatformLinks {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.PlatformLinks a img{
    width: 30vw;
    max-width: 400px;
    margin: 1.7vmax 3vw;
}

@media only screen and (max-width: 700px) {
    .SoundCloud{
        width: 90%;
        height: 450px;
    }
    .Lionwood .text {
        min-height: fit-content;
    }
}