.Lionwood{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.LionwoodBanner img {
    margin-top: 5.7vmax;
    display: flex;
    height: 27vmax;
    width: 100vw;
    overflow-y: hidden;
    object-fit: cover;
}

.Lionwood .text p{
    text-align: center;
    font-family: "Avenir light";
    font-size: 1.7vmax;
    max-width: 90vw;
}

.SoundCloud{
    width: 70%;
    height: 60vmax;
    max-height: 550px;
}

.PlatformLinks a img{
    width: 30vw;
    margin: 40px 3vw;
}

@media only screen and (max-width: 700px) {
    .SoundCloud{
        width: 90%;
    }
    .PlatformLinks a img{
        width: 45vw;
        margin: 10px 1vw;
    }
  }