.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vmax;
}

p {
    font-size: 2.3vmax;
    margin: 1vmax;
}

.contact a {
  line-height: 230%;
  font-size: 1.8vmax;
  color: #ABABAB;
}

.contact a:hover {
  color: rgb(0, 0, 0);
}