.BlogPage{
    padding-top: 5.9vmax;
    width: 100%;
}
.footer{
    background-color: rgb(243, 243, 243);
    text-align: center;
    text-justify: center;
    margin: 1.7vmax 0 0 0;
    padding: 1vmax 0;
}
.footer a{
    display: inline-block;
    font-size: 1vmax;
    padding: 0;
}

@media only screen and (max-width: 900px) {
    .footer{
        background-color: rgb(243, 243, 243);
        text-align: center;
        text-justify: center;
        margin: 1.7vmax 0 0 0;
        padding: 0vmax 0;
    }
    .footer a{
        font-size: 1.6vmax;
        padding: 0.8vh 0 1vh 0;
        margin: 0;
    }
}
