.CreateArticleBox{
    align-self: center;
    padding: 1vmax;
    display: grid;
    grid-template: auto auto auto auto /  auto auto;
    margin: 1.9vw 0;
    width: 90vw;
    box-shadow: 0 0 10px 10px rgba(240, 240, 240, 0.74);
    transition: 0.8s;
}
.CreateArticleBox h3{
    text-transform: uppercase;
    font-family: "Work Sans";
    font-weight: 700; 
    color: black;
    font-size: 2vmax;
    margin: 0 0 1vmax 0;
}

.CreateArticleBox .ButtonBox{
    text-align: right;
}

.CreateArticleBox button{
    background-color: white;
    border: 1px solid grey;
    margin-left: 3vw;
    text-justify: center;
    width: 9vmax;
    height: 2.1vmax;
    border-radius: 2vmax;
    font-family: "Work Sans";
    font-size: 1.3vmax;
}

.CreateArticleBox textarea{
    resize: none;
    border: 1px solid gray;
    margin: 0.1vmax;
}

.frTitre, .enTitre{
    text-transform: uppercase;
    font-family: "Work Sans";
    font-weight: 700;
    font-size: 2vmax;
    height: 3vmax;
}

.CreateArticleBox .url{
    grid-area: 3 / 1 / span 1 / span 2;
    font-size: 1.2vmax;
    font-family: "Avenir light";
    font-style: italic;
    height: 2vmax;
}
.frTexte, .enTexte{
    font-size: 1.4vmax;
    font-family: "Avenir light";
    height: 10vmax;
}

@media only screen and (max-width: 900px) {
    .CreateArticleBox{
        grid-template: auto auto auto auto auto auto /  auto auto;
    }
    .CreateArticleBox .frTitre{
        grid-area: 2 / 1 / span 1 / span 2;
    }
    .CreateArticleBox .enTitre{
        grid-area: 3 / 1 / span 1 / span 2;
    }
    .CreateArticleBox .url{
        grid-area: 4 / 1 / span 1 / span 2;
    }
    .CreateArticleBox .frTexte{
        grid-area: 5 / 1 / span 1 / span 2;
    }
    .CreateArticleBox .enTexte{
        grid-area: 6 / 1 / span 1 / span 2;
    }
}