.LoginPage{
    padding-top: 5.9vmax;
    display: flex;
    flex-direction: column;
}

.LoginModule{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vmax;
    margin: 1.9vw 0;
    width: 90vw;
    box-shadow: 0 0 10px 10px rgba(240, 240, 240, 0.74);
    transition: 0.8s;
}

.LoginModule h3 {
    margin: 0.2vmax auto 0 auto;
}
.LoginModule p{
    color: red;
    font-size: 1.4vmax;
    margin: 0;
    padding: 0;
    text-align: center;
}

.LoginModule form {
    /* border: 1px solid red; */
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    font-size: 1.7vmax;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.LoginModule input {
    margin: 1vmax;
    align-self: center;
    border: 1px solid gray;
    font-size: 1.4vmax;
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    width: 20vmax;
    text-align: center;
}

.LoginModule button {
    margin: 1vmax 0;
}